.form-signin {
    height: 100%;
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    text-align: center;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.login-logo {
    font-size: 6em;
    margin-bottom: 0.2em;
}

#error-banner {
    display: none;
}

#loading-spinner {
    display: none; /*Não mostrar por defeito */
}